
<body>
  <div class="preloader">
    <div class="circle"></div>
  </div>

  <nav class="navbar navbar-expand-md sticky fixed-top r-nav">
    <div class="container">

      <a class="navbar-brand animated fadeInLeft" href="#">PRUTHVIRAJ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarId">
        <span><i class="fas fa-bars hamburger"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarId">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item animated fadeInRight">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item animated fadeInRight">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item animated fadeInRight">
            <a class="nav-link" href="#education">Education</a>
          </li>

          <li class="nav-item animated fadeInRight">
            <a class="nav-link" href="#work">Portfolio</a>
          </li>
          <li class="nav-item animated fadeInRight">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <app-header></app-header>
  <app-about></app-about>
  <app-projects></app-projects>
  <app-contact></app-contact>

  <!-- footer -->
  <footer>
    <div class="container h-100 d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col">
          <div class="r-icon text-center mt-3">
            <ul>
              <li class="list-inline-item animated slideInUp"><a href="https://www.linkedin.com/in/pruthviraj4912/"
                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item animated slideInUp"><a href="https://github.com/pspawar08" target="_blank"><i
                    class="fab fa-github"></i></a></li>
              <li class="list-inline-item animated slideInUp"><a href="https://x.com/Pspawar08" target="_blank"><i
                    class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item animated slideInUp"><a href="https://www.instagram.com/pruthvii4912/"
                  target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <p class="text-muted" style="font-size:14px;">&copy; copyright pruthviraj | 2024 All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

</body>


