<header id="home">
    <div class="container-fluid header-content">
        <div class="row">
            <div class="col">
                <div class="content-box text-center animated fadeInUp">
                    <h4>Welcome</h4>
                    <h1>I'M <span class="element" style="color:#b33d39;font-weight:bold;"></span></h1>
                    <p>Aspiring Java Developer, As a highly motivated and passionate Java back-end Developer with a
                        strong foundation in both front-end and back-end
                        technologies, I am eager to apply my skills to real-world projects and contribute to innovative
                        solutions. My academic
                        background and hands-on projects have equipped me with the essential skills to develop dynamic
                        and responsive web
                        applications.</p>
                    <a href="../../assets/PruthvirajPawar_Resume_21JAN.pdf" target="_blank" class="btn">DOWNLOAD CV</a>
                </div>
            </div>
        </div>
    </div>
</header>

