
<section class="about r-p" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 way-fade-up">
                <img src="../../assets/images/profile.webp" class="img-fluid img-thumbnail" alt="Profile Picture" loading="eager">
            </div>
            <div class="col-lg-6 way-fade-up mt-5 mt-lg-0">
                <h2 class="">About Me</h2>
                <h4 class="">Hello! <span style="color:#E96F85;">I'M Pruthviraj Pawar</span></h4>

            <p>I am a dedicated and skilled Full Stack Java Developer with a strong focus on building scalable and maintainable web
                applications using Java. My core expertise lies in leveraging Spring Boot and Hibernate to develop robust back-end
                systems that seamlessly integrate with dynamic front-end interfaces.</p>
            <p>With a deep understanding of the Spring Framework, including Spring MVC and Spring JDBC, I excel in creating secure
                and efficient applications. My proficiency in Hibernate allows me to design effective ORM solutions, ensuring smooth
                database interactions and performance optimization.</p>
            <p>On the front end, I utilize HTML, CSS, JavaScript, and Angular to create responsive user experiences. My knowledge of
                SQL databases such as MySQL and PostgreSQL further complements my back-end development skills, making me adept at
                handling complex data-driven applications.</p>
            <p>I am passionate about applying my expertise in Spring Boot, Hibernate, and Java to contribute to innovative projects
                and solve real-world challenges. My goal is to continuously grow in the tech industry by delivering high-quality
                software solutions.</p>



                <div class="r-icon">
                    <ul class="list-inline">
                        <li class="list-inline-item animated slideInUp"><a
                                href="https://www.linkedin.com/in/pruthviraj4912/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item animated slideInUp"><a href="https://github.com/pspawar08"
                                target="_blank"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item animated slideInUp"><a href="https://x.com/Pspawar08"
                                target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item animated slideInUp"><a
                                href="https://www.instagram.com/pruthvii4912/" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>